@font-face {
  font-family: Glass;
  src: url('/public/fonts/Glass_TTY_VT220.ttf');
}

@import 'tailwindcss';

@theme {
  --font-glass: Glass, 'sans-serif';
  --animate-flicker: flicker 0.15s infinite;
  --animate-scan: scan 0.2s linear infinite;
  --animate-scroll-indicator: scrollIndicator 1s steps(2) infinite;
  --color-onlineblue: #0B5374;
  --color-onlineyellow: #FAB759;

  @keyframes scan {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 10px;
    }
  }

  @keyframes flicker {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.85;
    }
  }

  @keyframes scrollIndicator {
    0% {
      opacity: 0.2;
      transform: translateY(-40px);  
    }
    50% {
      opacity: 0.6;
      transform: translateY(-20px);  
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
